*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

a:link{color: #707070;}
a:visited{color: #707070;}
a:hover{color: #0900ff;}
a:active{color: #707070;}

header{
    position: fixed;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
}
nav{
    position: fixed;
    width: 100%;
    top: 75px;
    background-color: #e8e8e8;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
nav ul li{}

nav ul li a{
    display: block;
    width: 90px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size:25px;
}
.main_all{
    height: 840px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
}
.main00{
    background-image: url(img/main00.png);
}
.main01{
    background-image: url(img/main01.png);
}
.main02{
    background-image: url(img/main02.png);
}
.main03{
    background-image: url(img/main03.png);
}
.main04{
    background-image: url(img/main04.png);
}
.main05{
    background-image: url(img/main05.png);
}

footer{height: 100px;
    background-color: #E9E9E9;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -30px;
    }
    .Copyright{
        font-size: 15px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
        text-align: left;
        color: #707070;
        margin-left: 1010px;
        margin-top: -50px;        
    }